<h1 style="display: none;">Test works!</h1>

<!-- data binding/interpolation -->
<!-- interpolation only works with string -->
<div style="display: none;">
    <p>{{name}}</p>
    <p>{{"Welcome to " + name.toUpperCase() + " world"}}</p>
    <p>{{"2+2 = " + (2+2)}}</p>
    <p>{{greetUser()}}</p>
    <p>{{"Site URL: " + siteUrl}}</p>
    <input id="{{myId}}" type="text" value="dhiman">
</div>

<!-- property binding -->
<!-- works with string, boolean and other types -->
<div style="display: none;">
    <input [id]="myId" type="text" value="sarker">
    <input [disabled]="isDisabled" type="text" value="sagor">
</div>

<!-- class binding -->
<div style="display: none;">
    <h2 class="text-success">Angular Framework</h2>
    <h2 [class]="dangerClass">Angular Framework</h2>
    <h2 [class]="successClass">Angular Framework</h2>
    <h2 [class]="specialClass">Angular Framework</h2>
    <!-- conditionally apply class -->
    <h2 [class.text-danger]="hasError">Angular Framework</h2>
    <!-- conditionally apply multiple classes using ngClass directive -->
    <h2 [ngClass]="messageClasses">Bind Multiple Class</h2>
</div>

<!-- style binding -->
<div style="display: none;">
    <!-- used to apply inline styles to html elements (similar to class binding) -->
    <h2 [style.color]="hasError ? 'orange' : 'blue'">Style binding</h2>
    <h2 [style.color]="hasError ? highlightColor : 'blue'">Style binding</h2>
    <!-- apply multiple style using ngStyle directive -->
    <h2 [ngStyle]="titleStyle">Multiple Styles</h2>
</div>

<!-- Event Binding -->
<div style="display: none;">
    <div>
        <button (click)="onClick($event)">Press</button>
        {{msg1}}
    </div>
    <!-- add template statement instead of event handler -->
    <div>
        <button (click)="hasError=false">Assign</button>
    </div>
</div>

<!-- template reference variables -->
<div style="display: none;">
    <input #myInput type="text">
    <button (click)="logMessage(myInput.value)">Log</button>    
</div>


<!-- two way binding -->
<div style="display: none;">
    <input [(ngModel)]="inputMessage" type="text" name="" id="">
    {{inputMessage}}    
</div>


<!-- ngIf directive -->
<div style="display: none;">
    <h2 *ngIf="displayName; else elseBlock">
        Codevolution
    </h2>
    <ng-template #elseBlock>
        <h2>
            Name is hidden
        </h2>
    </ng-template>
</div>

<!-- ngSwitch directive -->
<div style="display: none;">
    <div [ngSwitch]="color">
        <div *ngSwitchCase="'red'">You picked up red</div>
        <div *ngSwitchCase="'green'">You picked up green</div>
        <div *ngSwitchCase="'blue'">You picked up blue</div>
        <div *ngSwitchDefault>You picked up nothing</div>
    </div>
</div>

<!-- ngFor directive -->
<div style="display: none;">
    <div *ngFor="let color of colors; index as i">
        <h3>{{i}} {{color}}</h3>
    </div>
</div>

<!-- component interaction -->
<div style="display: none;">
    <h2>{{name}}</h2>
    <button (click)="fireEvent()">Emit</button>
</div>


<!-- pipes -->
<!-- pipes allow us to transform data before displaying them -->
<div style="display: block;">
    <h3>{{ name }}</h3>
    <h3>{{ name | uppercase }}</h3>
    <h3>{{ name | lowercase }}</h3>
    <h3>{{ name | titlecase }}</h3>
    <h3>{{ name | slice:4:8 }}</h3>
    <h3>{{ person | json }}</h3>
    <h3>{{ 5.678 | number:'1.2-3' }}</h3>
    <h3>{{ 5.678 | number:'3.1-2' }}</h3>
    <h3>{{ 5.678 | number:'1.5-6' }}</h3>
    <h3>{{ 0.25 | percent }}</h3>
    <h3>{{ 30 | currency }}</h3>
    <h3>{{ 30 | currency: 'BDT' }}</h3>
    <h3>{{ date | date:'short' }}</h3>
    <h3>{{ date | date:'shortDate' }}</h3>
    <h3>{{ date | date:'shortTime' }}</h3>
</div>