<h1>Test works!</h1>

<!-- interpolation -->
<!-- interpolation only works with string -->
<p>{{name}}</p>
<p>{{"Welcome to " + name.toUpperCase() + " world"}}</p>
<p>{{"2+2 = " + (2+2)}}</p>
<p>{{greetUser()}}</p>
<p>{{"Site URL: " + siteUrl}}</p>
<input id="{{myId}}" type="text" value="dhiman">

<!-- property binding -->
<!-- works with string, boolean and other types -->
<input [id]="myId" type="text" value="sarker">
<input [disabled]="isDisabled" type="text" value="sagor">

<!-- class binding -->
<h2 class="text-success">Angular Framework</h2>
<h2 [class]="dangerClass">Angular Framework</h2>
<h2 [class]="successClass">Angular Framework</h2>
<h2 [class]="specialClass">Angular Framework</h2>
<!-- conditionally apply class -->
<h2 [class.text-danger]="hasError">Angular Framework</h2>
<!-- conditionally apply multiple classes using ngClass directive -->
<h2 [ngClass]="messageClasses">Bind Multiple Class</h2>