<div style="text-align: center">
  <h1>Routing & Navigation</h1> 
  <!-- <h1> Welcome to {{title}} </h1>
  <h2>{{message}}</h2> -->
  <button id="test_butt" (click)="onTest()">TestMe</button>
  <input id="test_input" type="text">
</div>

<!-- <div>
  <app-test (childEvent)="message=$event" [parentData]="name"></app-test>
  <app-employee-list></app-employee-list>
  <app-employee-detail></app-employee-detail>
</div> -->

<nav>
  <a routerLink="/dept" routerLinkActive="active">Departments</a>
  <a routerLink="/emp" routerLinkActive="active">Employees</a>
</nav>

<router-outlet></router-outlet>